// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/login/login.scss";
@import "../pages/home/home";
@import "../pages/project-detail/project-detail.scss";
@import "../modals/create-project-modal/create-project-modal.scss";
@import "../modals/update-project-modal/update-project-modal.scss";

p {line-height: 1.6em}

.red {
    color: #df4f66 !important;
}
.blue {
    color: #54dbc2 !important;
}
.white {
    color: white !important;
}
.gray {
    color: #424a52 !important;
}

.bg-blue {
    background-color: #54dbc2 !important;
}
.bg-red {
    background-color: #df4f66 !important;
}
.bg-white {
    background-color: white !important;
}
.bg-gray {
    background-color: #424a52 !important;
}

.border-blue {
    border-color: #54dbc2 !important;
}

.back-button {
    color: #df4f66 !important;
}
.text-center {
    width: 100%;
    text-align: center;
}
.fab-box-shadow {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
}
.bottom-fad-spacer {
    height: 6em;
}

.login-logo {
    padding: 40px 0;
}

ion-navbar {
    -webkit-box-shadow: 0px -1px 6px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 6px 4px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 6px 4px rgba(0,0,0,0.3);
}
ion-navbar .toolbar-background {
    background-color: #fff;
    border: none;
}
.logo .toolbar-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.logo {
    height: 100%;
}
.padding-left {
    padding-left: 0.5em;
}

.md .radio-inner {
    background-color: #54dbc2 !important;
}
.radio-checked .radio-inner {
    border-color: #54dbc2;
}
.radio-inner, .radio-checked {
    border-color: #54dbc2;
}
.item-radio-checked ion-label {
    color: #54dbc2;
}

.md input, .md textarea {
    margin-left: 0;
}
