.project-detail {

    .fab-box-shadow {
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
    }

}
